.paper 
    position: relative
    display: inline-block
    padding: 10px
    box-sizing: border-box

    &-wrapper
        position: relative
        padding: 10px
        width: 100%
        height: 100%
        overflow: hidden
        box-sizing: border-box