.popover
    background: #e6e6e6 !important
    overflow: visible !important
    padding: 5px 10px

    &:after
        content: ''
        position: absolute
        border: 10px solid transparent
        border-top: 10px solid #e6e6e6
        left: calc(50% - 10px)
        top: 100%